<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football-standings</title>
    <link rel = "stylesheet" href = "public/styles.css">
</head>
<body>
<h1>hi</h1>
<form action = "/" method = "post">
    <input type = "text" name = "year">
    <button type = "submit" name = "submit"></button>
</form>    
</body>
</html>